# NBA Box Scores: Exploratory Data Analysis with Pandas, Matplotlib, and Numpy (Part 3 of ?)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
year = '2019'
df = pd.read_csv('../data/nba_team_box_scores_'+str(year)+'_cleaned.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2458 entries, 0 to 2457
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2458 non-null   int64
 1   teamABBR      2458 non-null   object
 2   teamName      2458 non-null   object
 3   gameID        2458 non-null   int64
 4   gameDate      2458 non-null   object
 5   teamPTS       2458 non-null   int64
 6   teamFG        2458 non-null   object
 7   teamFG%       2458 non-null   float64
 8   team3PT       2458 non-null   object
 9   team3PT%      2458 non-null   float64
 10  teamFT        2458 non-null   object
 11  teamFT%       2458 non-null   float64
 12  teamTREB      2458 non-null   int64
 13  teamASST      2458 non-null   int64
 14  teamSTL       2458 non-null   int64
 15  teamBLK       2458 non-null   int64
 16  teamTO        2458 non-null   int64
 17  teamFB_PTS    2458 non-null   int64
 18  teamPNT_PTS   2458 non-null   int64
 19  teamFOUL      2458 non-null   int64
 20  teamLG_LEAD   2458 non-null   int64
 21  teamOREB      2458 non-null   int64
 22  teamDREB      2458 non-null   int64
 23  teamTO_PTS    2458 non-null   int64
 24  teamFOUL_T    2458 non-null   int64
 25  teamFOUL_F    2458 non-null   int64
 26  opptABBR      2458 non-null   object
 27  opptName      2458 non-null   object
 28  opptPTS       2458 non-null   int64
 29  opptFG        2458 non-null   object
 30  opptFG%       2458 non-null   float64
 31  oppt3PT       2458 non-null   object
 32  oppt3PT%      2458 non-null   float64
 33  opptFT        2458 non-null   object
 34  opptFT%       2458 non-null   float64
 35  opptTREB      2458 non-null   int64
 36  opptASST      2458 non-null   int64
 37  opptSTL       2458 non-null   int64
 38  opptBLK       2458 non-null   int64
 39  opptTO        2458 non-null   int64
 40  opptFB_PTS    2458 non-null   int64
 41  opptPNT_PTS   2458 non-null   int64
 42  opptFOUL      2458 non-null   int64
 43  opptLG_LEAD   2458 non-null   int64
 44  opptOREB      2458 non-null   int64
 45  opptDREB      2458 non-null   int64
 46  opptTO_PTS    2458 non-null   int64
 47  opptFOUL_T    2458 non-null   int64
 48  opptFOUL_F    2458 non-null   int64
 49  teamFGM       2458 non-null   int64
 50  teamFGA       2458 non-null   int64
 51  opptFGM       2458 non-null   int64
 52  opptFGA       2458 non-null   int64
 53  team3PTM      2458 non-null   int64
 54  team3PTA      2458 non-null   int64
 55  oppt3PTM      2458 non-null   int64
 56  oppt3PTA      2458 non-null   int64
 57  teamFTM       2458 non-null   int64
 58  teamFTA       2458 non-null   int64
 59  opptFTM       2458 non-null   int64
 60  opptFTA       2458 non-null   int64
 61  gameLoc_@     2458 non-null   int64
 62  gameLoc_vs    2458 non-null   int64
 63  teamResult_L  2458 non-null   int64
 64  teamResult_W  2458 non-null   int64
dtypes: float64(6), int64(48), object(11)
memory usage: 1.2+ MB