In [1]:
import pandas as pd
import numpy as np

In [3]:
year = '2019'
df = pd.read_csv('../data/nba_team_box_scores_'+str(year)+'.csv')

In [4]:
df.describe()

,Unnamed: 0,gameID,teamPTS,teamFG%,team3PT%,teamFT%,teamTREB,teamASST,teamSTL,teamBLK,...,opptTO,opptFB_PTS,opptPNT_PTS,opptFOUL,opptLG_LEAD,opptOREB,opptDREB,opptTO_PTS,opptFOUL_T,opptFOUL_F
count,2458.000000,2.458000e+03,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,...,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000,2458.000000
mean,1228.500000,4.010713e+08,111.195688,46.143124,35.520342,76.712449,53.513832,24.583401,7.633035,4.951587,...,14.080146,13.800651,48.593979,20.903173,12.553702,10.345403,34.813670,16.433686,0.638324,0.043938
std,709.707804,3.712529e+02,12.648481,5.333076,8.682060,10.237144,7.451704,5.119945,2.947996,2.485877,...,3.927467,7.001434,10.047117,4.293987,9.376523,3.759008,5.467135,6.216017,0.861955,0.208932
min,0.000000,4.010702e+08,68.000000,27.800000,11.500000,26.300000,32.000000,10.000000,0.000000,0.000000,...,3.000000,0.000000,16.000000,9.000000,0.000000,1.000000,18.000000,2.000000,0.000000,0.000000
25%,614.250000,4.010710e+08,103.000000,42.600000,29.600000,70.000000,48.000000,21.000000,6.000000,3.000000,...,11.000000,9.000000,42.000000,18.000000,5.000000,8.000000,31.000000,12.000000,0.000000,0.000000
50%,1228.500000,4.010713e+08,111.000000,46.000000,35.300000,77.100000,53.000000,24.000000,7.000000,5.000000,...,14.000000,13.000000,48.000000,21.000000,11.000000,10.000000,35.000000,16.000000,0.000000,0.000000
75%,1842.750000,4.010716e+08,119.000000,49.500000,40.900000,84.000000,58.000000,28.000000,9.000000,6.000000,...,17.000000,18.000000,56.000000,24.000000,18.000000,13.000000,38.000000,20.000000,1.000000,0.000000
max,2457.000000,4.010719e+08,168.000000,64.900000,84.200000,100.000000,83.000000,42.000000,20.000000,19.000000,...,29.000000,53.000000,84.000000,38.000000,58.000000,26.000000,55.000000,44.000000,5.000000,2.000000